@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f4c95d;
}

nav{
 
  font-size: 35px;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  color:white;
  font-weight: 900;
  text-decoration: none;
  width: 100%;
  position: fixed;
  top:0;
  overflow: hidden;
  
}
ul {
    
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:black;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: 'Courier New', Courier, monospace;
  top: 0;
  border-bottom-left-radius: 30%;
  border-top-right-radius: 30%;
  text-decoration: none;
  
}

.meals {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.header h1 {
  padding-top: 2rem;
  margin: 1rem;
  color: black;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 45px;
  margin-top: 30px;
}
.header h4 {
  font-style: italic;
}
.searchbox {
  width: 400px;
  margin: 1rem 0;
  height: 30px;
  border-radius: 10px;
  padding: 0.3rem 1rem;
  outline: none;
  border: none;
}

.contain {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  width: 80%;
  margin: 25px auto;
}

.card {
  border-radius: 2rem;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: black;
  padding: 5px;
  width: 180px;
}

.card:hover {
  cursor: pointer;
}

img {
  width: 100%;
  border-radius: 50px;
}
.card h4 {
  font-size: 20px;
  color: white;
}

.indexHolder {
  display: flex;
  margin: 2.5 rem;
}

.index {
  color: white;
  margin: 0 5px 0 5px;
  border-radius: 50px;
  width: 60px;
  height: 40px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index:hover {
  cursor: pointer;
  background-color: #505050;
}
.details {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.details img {
  max-width: 100%;
  width: 800px;
  height: 400px;
}
.details .inner-details {
  background-color:black;
  position: absolute;
  transform: translate (-50%, -50%);
  box-shadow: 0, 5 px 5px rgba(0, 0, 0, 0.5);
  top: 30%;
  left: 50%;
  color: white;
  font-size: 24px;
  padding: 1rem;
  text-align: center;
  height: 230px;
}

.res-details {
  width: 70%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ingredients,
.recipeInstructions {
  text-align: justify;
  flex-basis: 50%;
  height: 450px;
  overflow: scroll;
}

.ingredients h4 {
  margin-top: 1.5rem;
  font-weight: bold;
  font-style: italic;
}

iframe {
  height: 300px;
  width: 50%;
}
.video {
  width: 80%;
  align-self: center;
  justify-content: center;
  display: flex;
  margin-bottom: 10%;
  margin-left: 10%;
}

.about{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
 
}
.about h1{
  font-weight: 1000;
  font-size: 80px;
}

.about p{
  font-size:20px ;
}
.form-div{
   height: 200px;
   width: 300px;
   margin-left: 550px;
   background-color:black;
   margin-top: 200px;
   border-radius: 10px;
   display: flex;

}

.review-form{
  margin-left: 20px;
  
 
}

.review-form input{
  border-radius: 20 px;
}
.btn{
  background-color:#f4c95d;
  border: none;
  color: white;
  padding: 14px 28px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  border-radius: 10px;
}

.btn:hover{
  cursor: pointer;
}